* ::before ::after {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.head-container {
  display: flex;
  background-color: rgba(230, 230, 230, 0.795);
  justify-content: space-between;
  
}

.head-container img {
  display: flex;
  width: 10vh;
  border-radius: 40px 40px 500px 100px;
  margin: 1vh;
  border: 3px solid rgb(255, 0, 0);
}

.btn-container .nav-btn {
  margin-top: 5%;
  margin-right: 10px;
  background-color: #d3e2d1;
  border: 1px solid black;
  border-radius: 5px;

}