*,  ::before ::after {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.picture-container img{
 width: 100%;
}

.head-container {

  display: flex;
  background-color: rgba(0, 0, 0, 0.842);
  justify-content: space-between;
  align-items: center;
  
}

.head-container img {
  display: flex;
  width: 10vh;
  border-radius: 40px 40px 500px 100px;
  margin: 1vh;
  border: 3px solid rgba(250, 249, 249, 0.815);
}

.btn-container .nav-btn {
  text-transform: uppercase;
  margin-right: 50px;
  background-color: #ffffff;
  border: 1px solid rgba(70, 67, 63, 0.705);
  border-radius: 2px;

}

.jake{
  width: 100px;
  height: 50px;
  background-color: rgb(214, 211, 12) ;
}

.jake .left-eye {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}